<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>is it new year?</title>
  </head>
  <body>
    {% if newyear %}
    <h1>Wish you a happy new year</h1>
    <a
      href="https://www.google.com/search?q=today+&rlz=1C1FKPE_enIN985IN986&ei=l3LQYbmzK5adseMP5f6amAQ&ved=0ahUKEwj52q3E7pD1AhWWTmwGHWW_BkMQ4dUDCA8&uact=5&oq=today+&gs_lcp=Cgdnd3Mtd2l6EAMyBAgAEEMyCwgAEIAEELEDEIMBMggIABCABBDJAzIFCAAQkgMyBQgAEJIDMgUIABCABDILCAAQgAQQsQMQgwEyCwgAEIAEELEDEIMBMggIABCxAxCDATIFCAAQgAQ6BwgAEEcQsAM6BQgAEJECOggIABCABBCxAzoFCC4QgAQ6BQgAELEDSgQIQRgASgQIRhgAUIMBWPEFYI0IaAFwAngAgAGEAYgBzQKSAQMxLjKYAQCgAQHIAQjAAQE&sclient=gws-wiz"
      >know more</a
    >

    {% else %}
    <h1>Have a nice day</h1>
    <a
      href="https://www.google.com/search?q=today+&rlz=1C1FKPE_enIN985IN986&ei=l3LQYbmzK5adseMP5f6amAQ&ved=0ahUKEwj52q3E7pD1AhWWTmwGHWW_BkMQ4dUDCA8&uact=5&oq=today+&gs_lcp=Cgdnd3Mtd2l6EAMyBAgAEEMyCwgAEIAEELEDEIMBMggIABCABBDJAzIFCAAQkgMyBQgAEJIDMgUIABCABDILCAAQgAQQsQMQgwEyCwgAEIAEELEDEIMBMggIABCxAxCDATIFCAAQgAQ6BwgAEEcQsAM6BQgAEJECOggIABCABBCxAzoFCC4QgAQ6BQgAELEDSgQIQRgASgQIRhgAUIMBWPEFYI0IaAFwAngAgAGEAYgBzQKSAQMxLjKYAQCgAQHIAQjAAQE&sclient=gws-wiz"
      >know more</a
    >

    {%endif %}
  </body>
</html>
